<div class="container mt-5">
  <div class="card">
    <div class="card-body">
      <div *ngIf="loading || !post">Loading</div>
      <div *ngIf="!loading && post">
        <h1 class="card-title">{{post.headline}}</h1>
        <h6 class="card-subtitle mb-2 text-muted">Published {{post.createdAt | date:'fullDate'}}</h6>
        <h4>{{post.topic}}</h4>
        By <a [routerLink]="['/author', post.personByAuthorId.id]" class="card-subtitle mb-2 card-link">{{post.personByAuthorId.fullName}}</a>
        <a [routerLink]="['/article', post.id]" class="card-link">Link</a>
        <p class="mt-3">{{post.body}}</p>
      </div>
      <a [routerLink]="['/']" class="card-link">Home</a>
    </div>
  </div>
</div>
