<div class="container mt-5">
  <div>
    <p>Found {{totalPosts}} Posts <span *ngIf="search">containing "{{search}}"</span></p>
  </div>

  <div *ngFor="let post of posts">
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">{{post.headline}}</h5>
        <p class="mb-2">
          <a [routerLink]="['/author', post.personByAuthorId.id]" *ngIf="post.personByAuthorId.fullName" class="card-link" >by {{post.personByAuthorId.fullName}}</a>
          <a [routerLink]="['/edit', post.id]" *ngIf="post.personByAuthorId.id == currentId" class="card-link ml-3">(Edit)</a>
        </p>
        <p class="card-text"></p>
        <a [routerLink]="['/article', post.id]" class="card-link">{{post.summary}}</a>
      </div>
    </div>
  </div>

  <nav aria-label="Post navigation">
    <ul class="pagination">
      <li class="page-item" [ngClass]="{disabled: previousPage.disabled}" *ngIf="previousPage">
        <a class="page-link" [routerLink]="[]" [queryParams]="previousPage.queryParams" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Previous</span>
        </a>
      </li>
      <li class="page-item" [ngClass]="{disabled: page.disabled}" *ngFor="let page of pages">
        <a class="page-link" [routerLink]="[]" [queryParams]="page.queryParams">{{page.text}}</a>
      </li>
      <li class="page-item" [ngClass]="{disabled: nextPage.disabled}" *ngIf="nextPage" >
        <a class="page-link" [routerLink]="[]" [queryParams]="nextPage.queryParams" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Next</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
