<div class="container mt-5">
  <div *ngFor="let post of posts">
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">{{post.headline}}</h5>
        <a href="author/{{post.personByAuthorId.id}}"*ngIf="post.personByAuthorId.fullName" class="mb-2">by {{post.personByAuthorId.fullName}}</a>
        <p class="card-text"></p>
        <a href="article/{{post.id}}" class="card-link">{{post.summary}}</a>
      </div>
    </div>
  </div>

  <div><p>{{totalPosts}} Posts</p></div>

  <nav aria-label="Post navigation">
    <ul class="pagination">
      <li class="page-item" [ngClass]="{disabled: previousPage.disabled}" *ngIf="previousPage">
        <a class="page-link" href="{{previousPage.url}}" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Previous</span>
        </a>
      </li>
      <li class="page-item" [ngClass]="{disabled: page.disabled}" *ngFor="let page of pages">
        <a class="page-link" href="{{page.url}}">{{page.text}}</a>
      </li>
      <li class="page-item" [ngClass]="{disabled: nextPage.disabled}" *ngIf="nextPage" >
        <a class="page-link" href="{{nextPage.url}}" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Next</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
