<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" [routerLink]="['/']">Forum</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/articles']">Articles</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/authors']">Authors</a>
      </li>
      <li class="nav-item">
        <a *ngIf="!currentPerson" class="nav-link" [routerLink]="['/login']">Login</a>
        <a *ngIf="currentPerson" class="nav-link" (click)="logout()">Logout</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" #searchInput (keyup.enter)="search(searchInput.value)">
      <button class="btn btn-outline-success my-2 my-sm-0" (click)="search(searchInput.value)">Search</button>
    </form>
  </div>
</nav>
