<div class="container mt-5">
  <form [formGroup]="profileForm" (ngSubmit)="submit()">

    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label for="firstName">First Name</label>
          <input type="text" class="form-control" id="firstName" placeholder="First Name" formControlName="firstName"/>
        </div>
        <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)" class="alert alert-danger">
          <div *ngIf="firstName.errors.required">
            First Name is required.
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="form-group">
          <label for="lastName">Last Name</label>
          <input type="text" class="form-control" id="lastName" placeholder="Last Name" formControlName="lastName"/>
        </div>
      </div>
    </div>

    <p *ngIf="profile">Joined on {{profile.createdAt | date:'fullDate'}}</p>

    <div class="form-group">
      <label for="about">About Me</label>
      <textarea class="form-control" id="about" rows="3" formControlName="about"></textarea>
    </div>

    <div class="float-right">
      <button [disabled]="profileForm.pristine" (click)="resetForm()" class="btn btn-secondary mr-3">Reset</button>
      <button [disabled]="profileForm.pristine" type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
</div>
